.content-jumb{
    background-color: #025E73;
    color: rgb(255, 255, 255);
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.jumbotron h1{
    background-color: rgba(0, 0, 0, 0.171);
    backdrop-filter: blur(1px);
    padding: 5px;
    border-radius: 10px;
}
body{
    background-image: url('../assets/images/backgroundBody.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.content{
    height: 100vh;
    margin-bottom: 20%;
}
.btnAction{
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    gap: 5px;
}
.windowRegister{
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0000001f;
    backdrop-filter: blur(1px);
    transition: .4s ease-in-out;
}
.windowRegister.ativeWindow{
    height: 100vh;
    overflow: visible;
}
.window{
    height: 80%;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}
.close{
    position: absolute;
    right: 0;
    color: red;
    cursor: pointer;
}
.gameRegister{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}
.cardContent{
    backdrop-filter: blur(1px) !important;
    background-color: rgba(47, 134, 47, 0.623) !important;
    color: white !important;
    border: 1px solid white !important;
    text-align: center;
}
.titlePag{
    border-bottom: 1px solid white;
}
.headerCd{
    text-align: center;
}
.btnsRegister{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
.btnsRegister button{
    border: 1px solid white;
}
.item{
    display: flex !important;
    justify-content: space-between !important;
}
.btnsFrequency{
    display: flex;
    gap: 20px;
    align-items: center;
}
.btnInteraction{
    cursor: pointer;
    transition: .2s ease-in-out;
}
#up:hover{
    color: green;
}
#down:hover{
    color: red;
}
.dataUser{
    display: flex;
    flex-direction: column;
}
.list{
    width: 50% !important;
}
.cardCadaster{
    width: 50% !important;
}
.upGreen{
    color: green !important;
}
.activeUp{
    color: green;
}
.activeDown{
    color: red;
}
#btns-with-status{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerHome{
    display: flex;
    justify-content: space-between;
}
.trash{
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 3vw !important;
    transition: .4s ease-in-out;
}
.trash:hover{
    color: rgba(255, 0, 0, 0.815);
    background-color: white;
    border-radius: 10px;
}
.footerPage{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nobody{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.nobody img{
    border-radius: 20px;
}
@media(max-width: 640px){
    .list{
        width: 100% !important;
    }
    .cardCadaster{
        width: 100% !important;
    }
    .window{
        width: 100%;
    }
    .trash{
        font-size: 10vw !important;
    }
    .content{
        margin-bottom: 35%;
    }
}