<div class="content p-3">
    <div class="d-flex titlePag justify-content-center text-light mt-4">
        <h1>Lista de jogadores</h1>
    </div>
    <div class="mt-4 d-flex justify-content-center">
        <ul class="list-group w-50">
            {{#each data.players}}
                <li class="list-group-item">Nome: <strong>{{this.name}}</strong> - Telefone: <strong>{{this.phone}}</strong></li>
            {{/each}}
        </ul>
    </div>
</div>